# --- Environment & Secrets ---
.env
.envrc
auth_token.txt

# --- Python & Virtual Environments ---
venv/
.venv/
env/
ENV/
bin/
lib/
include/
*.py[cod]
__pycache__/

# --- OS & IDE Files ---
.vscode/
.idea/
.DS_Store
*.log

# --- Distribution / Packaging ---
dist/
build/
*.egg-info/
# Certificates
nginx/certs/
# SSL keys
*.key
*.crt